In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

In [23]:
file_path = '..\\Data\\processed_df.pkl'

preprocessed_df = pd.read_pickle(file_path)
preprocessed_df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,Clear,3.48,0.51,0.15,116.81,36.4698
4,25.87,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,0.29,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,0.29,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,1.22,0.23,29.69,45.4437

In [24]:
X = preprocessed_df.copy().drop('Trip_Price', axis=1)
y = preprocessed_df['Trip_Price']

In [25]:
ordinal_features = ['Traffic_Conditions']
nominal_features = ['Weather', 'Time_of_Day', 'Day_of_Week']

preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', OrdinalEncoder(categories=[['Low','Medium','High']]), ordinal_features),
        ('nominal', OneHotEncoder(drop='first'), nominal_features)
    ],
    remainder='passthrough'
)

In [26]:
X_processed = preprocessor.fit_transform(X)

In [27]:
feature_names = preprocessor.get_feature_names_out()
feature_names = [name.split("__")[1] for name in feature_names]

X_processed_df = pd.DataFrame(X_processed, columns=feature_names)

In [28]:
X_processed_df

,Traffic_Conditions,Weather_Rain,Weather_Snow,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekend,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.35,3.0,3.56,0.80,0.32,53.82
1,2.0,0.0,0.0,1.0,0.0,0.0,1.0,36.87,1.0,2.70,1.21,0.15,37.27
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,30.33,4.0,3.48,0.51,0.15,116.81
3,2.0,0.0,0.0,1.0,0.0,0.0,0.0,25.87,3.0,2.93,0.63,0.32,22.64
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,8.64,2.0,2.55,1.71,0.48,89.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5.49,4.0,2.39,0.62,0.49,58.39
947,1.0,0.0,0.0,0.0,0.0,1.0,0.0,45.95,4.0,3.12,0.61,0.29,61.96
948,0.0,1.0,0.0,0.0,1.0,0.0,0.0,7.70,3.0,2.08,1.78,0.29,54.18
949,0.0,0.0,0.0,0.0,1.0,0.0,0.0,47.56,1.0,2.67,0.82,0.17,114.94
950,1.0,0.0,0.0,0.0,1.0,0.0,1.0,22.85,3.0,4.34,1.22,0.23,29.69